/*--------------Cinzel---------------------------------------------*/
@font-face {
    font-family:"Cinzel" ; /* set name */
    src: url(font/Cinzel/static/Cinzel-Regular.ttf)format("truetype"); /* url of the font */
    font-weight: normal; /* Define the font weight (e.g., normal, bold, 400, 700) */
    font-style: normal; /* Define the font style (e.g., normal, italic) */
}
@font-face {
    font-family:"Cinzel-Bold" ; /* set name */
    src: url(font/Cinzel/static/Cinzel-Bold.ttf)format("truetype"); /* url of the font */
    font-weight: bold; /* Define the font weight (e.g., normal, bold, 400, 700) */
    font-style: normal; /* Define the font style (e.g., normal, italic) */
}
/*--------------ChakraPetch---------------------------------------------*/
@font-face {
    font-family:"ChakraPetch" ; /* set name */
    src: url(font/Chakra_Petch/ChakraPetch-Regular.ttf)format("truetype"); /* url of the font */
    font-weight: normal; /* Define the font weight (e.g., normal, bold, 400, 700) */
    font-style: normal; /* Define the font style (e.g., normal, italic) */
}
@font-face {
    font-family:"ChakraPetch-Bold" ; /* set name */
    src: url(font/Chakra_Petch/ChakraPetch-Bold.ttf)format("truetype"); /* url of the font */
    font-weight: bold; /* Define the font weight (e.g., normal, bold, 400, 700) */
    font-style: normal; /* Define the font style (e.g., normal, italic) */
}
@font-face {
    font-family:"ChakraPetch-Light" ; /* set name */
    src: url(font/Chakra_Petch/ChakraPetch-Light.ttf)format("truetype"); /* url of the font */
    font-weight: lighter; /* Define the font weight (e.g., normal, bold, 400, 700) */
    font-style: normal; /* Define the font style (e.g., normal, italic) */
}
/*--------------Thasadith---------------------------------------------*/
@font-face {
    font-family:"Thasadith" ; /* set name */
    src: url(font/Thasadith/Thasadith-Regular.ttf)format("truetype"); /* url of the font */
    font-weight: normal; /* Define the font weight (e.g., normal, bold, 400, 700) */
    font-style: normal; /* Define the font style (e.g., normal, italic) */
}
@font-face {
    font-family:"Thasadith-Bold" ; /* set name */
    src: url(font/Thasadith/Thasadith-Bold.ttf)format("truetype"); /* url of the font */
    font-weight: bold; /* Define the font weight (e.g., normal, bold, 400, 700) */
    font-style: normal; /* Define the font style (e.g., normal, italic) */
}
/*--------------Sarabun---------------------------------------------*/
@font-face {
    font-family:"Sarabun" ; /* set name */
    src: url(font/Sarabun/Sarabun-Regular.ttf)format("truetype"); /* url of the font */
    font-weight: normal; /* Define the font weight (e.g., normal, bold, 400, 700) */
    font-style: normal; /* Define the font style (e.g., normal, italic) */
}
@font-face {
    font-family:"Sarabun-Bold" ; /* set name */
    src: url(font/Sarabun/Sarabun-Bold.ttf)format("truetype"); /* url of the font */
    font-weight: bold; /* Define the font weight (e.g., normal, bold, 400, 700) */
    font-style: normal; /* Define the font style (e.g., normal, italic) */
}
@font-face {
    font-family:"Sarabun-Light" ; /* set name */
    src: url(font/Sarabun/Sarabun-Light.ttf)format("truetype"); /* url of the font */
    font-weight: lighter; /* Define the font weight (e.g., normal, bold, 400, 700) */
    font-style: normal; /* Define the font style (e.g., normal, italic) */
}
/*-------------------------------------------------------------------------*/
.LG-TH{
    font-family: "Sarabun-Light";
}
.LG-TH2{
    font-family: "Thasadith";
}
.LG-EN{
    font-family: "Cinzel";
}
.LG-EN2{
    font-family: "ChakraPetch-Light";
}