/*--------------Cinzel---------------------------------------------*/
@font-face {
    font-family:"Cinzel" ; /* set name */
    src: url(font/Cinzel/static/Cinzel-Regular.ttf)format("truetype"); /* url of the font */
    font-weight: normal; /* Define the font weight (e.g., normal, bold, 400, 700) */
    font-style: normal; /* Define the font style (e.g., normal, italic) */
}
@font-face {
    font-family:"Cinzel-Bold" ; /* set name */
    src: url(font/Cinzel/static/Cinzel-Bold.ttf)format("truetype"); /* url of the font */
    font-weight: bold; /* Define the font weight (e.g., normal, bold, 400, 700) */
    font-style: normal; /* Define the font style (e.g., normal, italic) */
}
/*--------------ChakraPetch---------------------------------------------*/
@font-face {
    font-family:"ChakraPetch" ; /* set name */
    src: url(font/Chakra_Petch/ChakraPetch-Regular.ttf)format("truetype"); /* url of the font */
    font-weight: normal; /* Define the font weight (e.g., normal, bold, 400, 700) */
    font-style: normal; /* Define the font style (e.g., normal, italic) */
}
@font-face {
    font-family:"Chakra_Petch-Bold" ; /* set name */
    src: url(font/Chakra_Petch/ChakraPetch-Bold.ttf)format("truetype"); /* url of the font */
    font-weight: bold; /* Define the font weight (e.g., normal, bold, 400, 700) */
    font-style: normal; /* Define the font style (e.g., normal, italic) */
}
/*--------------Thasadith---------------------------------------------*/
@font-face {
    font-family:"Thasadith" ; /* set name */
    src: url(font/Thasadith/Thasadith-Regular.ttf)format("truetype"); /* url of the font */
    font-weight: normal; /* Define the font weight (e.g., normal, bold, 400, 700) */
    font-style: normal; /* Define the font style (e.g., normal, italic) */
}
@font-face {
    font-family:"Thasadith-Bold" ; /* set name */
    src: url(font/Thasadith/Thasadith-Bold.ttf)format("truetype"); /* url of the font */
    font-weight: bold; /* Define the font weight (e.g., normal, bold, 400, 700) */
    font-style: normal; /* Define the font style (e.g., normal, italic) */
}