.LG-TH{
    font-family: "Thasadith";
}
.LG-TH2{
    font-family: "Sarabun";
}
.LG-EN{
    font-family: "Cinzel";
}
.LG-EN2{
    font-family: "ChakraPetch-Light";
}
.fs-18{
    font-size: 18px;
}
.fs-16{
    font-size: 16px;
}
.fs-14{
    font-size: 14px;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-justify{
    text-align: justify;
}
.B,.b{
    font-weight: bold;
}
.p-relative{
    position: relative;
}
.p-absolute{
    position: absolute;
}
.p-fixed{
    position: fixed;
}
.p-static{
    position: static;
}
.p-sticky{
    position: sticky;
}
.d-contents{
    display: contents;
}
.d-inline{
    display: inline;
}
.d-grid{
    display: grid;
}
.d-flex{
    display: flex;
}
.d-block{
    display: block;
}
.d-inline-block{
    display: inline-block;
}
.d-inline-grid{
    display: inline-grid;
}
.w-100{ width: 100%; }.w-75{ width: 75%;}.w-50{ width: 50%; } .w-25{ width: 25%;}
.w-90{ width: 90%;}.w-80{ width: 80%; } .w-70{ width: 70%;}.w-60{ width: 60%;}.w-40{ width: 40%;}.w-30{ width: 30%;}.w-20{ width: 20%;}.w-10{ width: 10%;}
.w-45{ width: 45%; } .w-55{ width: 55%;}
.h-100{ height: 100%; }.h-75{ height: 75%;}.h-50{ height: 50%; } .h-25{ height: 25%;}
.h-90{ height: 90%;}.h-80{ height: 80%; } .h-70{ height: 70%;}.h-60{ height: 60%;}.h-40{ height: 40%;}.h-30{ height: 30%;}.h-20{ height: 20%;}.h-10{ height: 10%;}
.h-45{ height: 45%; } .h-55{ height: 55%;}

/*----------------PC--------------------*/
@media screen and (max-width: 769px) {
    .fs1{
        font-size: 18px;
    }
    .fs2{
        font-size: 16px;
    }
    .fs3{
        font-size: 14px;
    }
    .subheader{
        font-size: 18px;
        text-align: center;
        font-weight: bold;
    }

    .symbol-line{
        display: flex;
        position: relative; 
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        height: 20px;
    }
    .circle-left {
        display: block;
        background: black;
        border-radius: 50%;
        height: 15px;
        width: 15px;
        position: absolute; 
        left: 0%;
    }
    hr{
        border: 1px solid black;
        width: 99%;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
    }
    .circle-right {
        display: block;
        background: black;
        border-radius: 50%;
        height: 15px;
        width: 15px;
        position: absolute; 
        right: 0%;
    }
    .container-head {
        max-width: 100%;
        position: relative;
    }
    .container-body1{
        max-width: 45%;
        height: auto;
        display: inline-block;
    }
    .container-body2{
        max-width: 45%;
        height: auto;
        position: absolute;
        display: block;
    }
    .Profile{
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 10px;
        margin: 5px;
        display: block;
    }
    .P-row{
        max-width: 100%;
        display: flex;
        padding: 2px;
    }
    .P-col{
        margin-right: 5px;
    }
    .Education{
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 10px;
        margin: 5px;
        display: block;
    }
    .E-row{
        max-width: 100%;
        display: grid;
        padding: 2px;
        position: relative;
    }
    /*.E-col{
        
    }*/
    .Skill{
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 10px;
        margin: 5px;
        display: block;
    }
    dl{
        max-width: 100%;
        display: flex;
        margin: 2px;
    }
    dt{
        max-width: 100%;
        display: block;
    }
    dd{
        display: grid;
        margin: 2px;
        padding: 5px;
        text-align: center;
        justify-content: center;
        /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    }
    .logo-NPRU{
        width: 20%;
        margin: auto;
        /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    }
    .icon-square{
        width: 48px;
        height: 48px;
        margin-left: auto;
        margin-right: auto;
    }
    .icon-rectangle{
        width: 100px;
        height: 48px;
        margin-left: auto;
        margin-right: auto;
    }
    .Working{
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 10px;
        margin: 5px;
        display: block;
    }
    .W-row{
        max-width: 100%;
        display: grid;
        padding: 2px;
        position: relative;
    }
    .W-col{

    }
    h1{
        text-align: center;
    }
    h2{
        text-align: center;
    }
    h3{
        font-family: "Thasadith";
        max-width: 100%;
        display: grid;
        position: relative;
    }
    body{
        max-width: 100%;
    }
    header{
        font-size: 20px;
        text-align: center;
        padding: 5px;
        padding-top: 15px;
        font-weight: bold;
    }
    .img{
        display: block;
        border: 10px solid white;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    a{
        display: block;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        transition-duration: 0.2s;
        background-color: green;
        font-weight: bold;
    }
    a:hover {box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);}
}
/*----------------1920-------------------------*/
@media screen and (max-width: 1920px) {
    .fs1{
        font-size: 20px;
    }
    .fs2{
        font-size: 18px;
    }
    .fs3{
        font-size: 16px;
    }
    .subheader{
        font-size: 18px;
        text-align: center;
        font-weight: bold;
    }

    .symbol-line{
        display: flex;
        position: relative; 
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        height: 20px;
    }
    .circle-left {
        display: block;
        background: black;
        border-radius: 50%;
        height: 15px;
        width: 15px;
        position: absolute; 
        left: 0%;
    }
    hr{
        border: 1px solid black;
        width: 99%;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
    }
    .circle-right {
        display: block;
        background: black;
        border-radius: 50%;
        height: 15px;
        width: 15px;
        position: absolute; 
        right: 0%;
    }
    .container-head {
        max-width: 100%;
        display: flex;
    }
    .container-body1{
        max-width: 100%;
        height: auto;
        display: inline-flex;
        position: static;
    }
    .container-body2{
        display: none;
    }
    .Profile{
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 10px;
        margin: 5px;
        display: block;
        max-width: 100%;
    }
    .P-row{
        max-width: 100%;
        display: flex;
    }
    .P-col{
        margin-right: 5px;
        display: grid;
        max-width: auto;
    }
    .Education{
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 10px;
        margin: 5px;
        display: inline;
        max-width: 100%;
    }
    .E-row{
        max-width: 100%;
        display: grid;
    }
    .E-col{
        margin-right: 5px;
        display: grid;
        max-width: auto;
    }
    .logo-NPRU{
        margin: auto;
        text-align: center;
        /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    }
    .Skill{
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 10px;
        margin: 5px;
        display: block;
        max-width: 100%;
    }
    dl{
        max-width: 100%;
        display: flex;
        margin: 2px;
    }
    dt{
        max-width: 100%;
        display: block;
    }
    dd{
        display: grid;
        margin: 2px;
        padding: 5px;
        text-align: center;
        justify-content: center;
        /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    }
    .icon-square{
        width: 72px;
        height: 72px;
        margin-left: auto;
        margin-right: auto;
    }
    .icon-rectangle{
        width: 150px;
        height: 72px;
        margin-left: auto;
        margin-right: auto;
    }
    .Working{
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 10px;
        margin: 5px;
        display: block;
        max-width: 100%;
    }
    .W-row{
        max-width: 100%;
        display: grid;
        padding: 2px;
        position: relative;
    }
    .W-col{
        
    }
    ul{
        display: grid;
    }
    li{
        
    }
    h1{
        margin-left: 10px;
        
    }
    h2{
        margin-left: 10px;
    }
    h3{
        max-width: 100%;
        display: grid;
        position: relative;
    }
    body{
        max-width: 100%;
    }
    header{
        font-size: 20px;
        text-align: center;
        padding: 5px;
        padding-top: 15px;
        font-weight: bold;
    }
    .img{
        display: block;
        float: right;
        border: 10px solid white;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    a{
        display: block;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        transition-duration: 0.2s;
        background-color: green;
        font-weight: bold;
    }
    a:hover {box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);}


}

/*----------------MOBILE--------------------*/


/*----------------TABLE--------------------*/
