.LG-TH{
    font-family: "Thasadith";
}
.LG-EN{
    font-family: "Cinzel";
}
.LG-EN2{
    font-family: "ChakraPetch-Light";
}
.fs-18{
    font-size: 18px;
}
.fs-16{
    font-size: 16px;
}
.fs-14{
    font-size: 14px;
}
.text-center{
    text-align: center;
}
.B,.b{
    font-weight: bold;
}
.p-relative{
    position: relative;
}
.p-absolute{
    position: absolute;
}
.p-fixed{
    position: fixed;
}
.p-static{
    position: static;
}
.p-sticky{
    position: sticky;
}
.d-grid{
    display: grid;
}
.d-flex{
    display: flex;
}
.d-block{
    display: block;
}
.d-inline-block{
    display: inline-block;
}
/*----------------PC--------------------*/
@media screen and (max-width: 769px) {
    .fs1{
        font-size: 18px;
    }
    .fs2{
        font-size: 16px;
    }
    .fs3{
        font-size: 14px;
    }
    .subheader{
        font-size: 18px;
        text-align: center;
        font-weight: bold;
    }

    .symbol-line{
        display: flex;
        position: relative; 
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        height: 20px;
    }
    .circle-left {
        display: block;
        background: black;
        border-radius: 50%;
        height: 15px;
        width: 15px;
        position: absolute; 
        left: 0%;
    }
    hr{
        border: 1px solid black;
        width: 99%;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
    }
    .circle-right {
        display: block;
        background: black;
        border-radius: 50%;
        height: 15px;
        width: 15px;
        position: absolute; 
        right: 0%;
    }
    .container-head {
        max-width: 100%;
        display: block;
        position: relative;
    }
    .container-body {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        gap: 20px;
    }

    /* เอา absolute ออก */
    .Profile, .Skill, .Education {
        position: static; /* หรือไม่ต้องใส่เลย */
        border: 1px solid black;
        border-radius: 10px;
        padding: 10px;
        background: white;
    }

    /*.container-body{
        max-width: 100%;
        height: auto;
        position: relative;
        display: block;
    }
    .Profile{
        left: 0%;
        top: 0%;
        position: absolute;
        padding: 10px;
        border: 1px solid black;
        border-radius: 10px;
        width: 45%;
        margin: 2px;
        display: block;
    }
    .Education{
        left: 0%;
        bottom: 0%;
        position: absolute;
        padding: 10px;
        border: 1px solid black;
        border-radius: 10px;
        width: 45%;
        margin: 2px;
        display: block;
    }
    .Skill{
        top: 0%;
        right: 0%;
        position: absolute;
        padding: 10px;
        border: 1px solid black;
        border-radius: 10px;
        width: 45%;
        margin: 2px;
        display: block;
    }
    .Skill, .Education {
        box-sizing: border-box;
    }*/
    .row{
        max-width: 100%;
        padding: 2px;
    }
    .col{
        display: block;
        margin-right: 5px;
    }
    .col-block{
        display: block;
    }
    .logo{
        width: 20%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    }
    .icon{
        width: 48px;
        height: 48px;
    }
    body{
        max-width: 100%;
        height: auto;
    }
    header{
        font-size: 20px;
        text-align: center;
        padding: 5px;
        padding-top: 15px;
        font-weight: bold;
    }
    .img{
        width: 15%;
        height: 15%;
        display: block;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
        border: 10px solid white;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    a{
        display: block;
        border: none;
        color: black;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        transition-duration: 0.2s;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    a:hover {box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);}


}

/*----------------MOBILE--------------------*/


/*----------------TABLE--------------------*/
