/*----------------PC--------------------*/
@media screen and(max-width: 768px) {
    body{
        width: 768px;
        font-family: "Thasadith";
        font-size: 16px;
    }
    .container{
    
    }
    img{
        width: 50px;
        height: 50px;
    }
}
@media (max-width: 1280px) {

}
@media (max-width: 2560px) {

}
@media (max-width: 3840px) {

}

/*----------------MOBILE--------------------*/
@media (max-width: 360px) {

}
@media (max-width: 375px) {

}
@media (max-width: 415px) {

}
@media (max-width: 430px) {

}

/*----------------TABLE--------------------*/
@media (max-width: 768px) {

}
@media (max-width: 820px) {

}
@media (max-width: 1280px) {

}
@media (max-width: 430px) {

}