.LG-TH{
    font-family: "Thasadith";
}
.LG-EN{
    font-family: "Cinzel";
}
.LG-EN2{
    font-family: "ChakraPetch";
}
/*----------------PC--------------------*/
@media screen and (max-width: 769px) {
    .subheader{
        font-size: 18px;
        text-align: center;
        font-weight: bold;
    }
    .fs-18{
        font-size: 18px;
    }
    .fs-16{
        font-size: 16px;
    }
    .fs-14{
        font-size: 14px;
    }
    .symbol-line{
        display: flex;
        position: relative; 
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        height: 20px;
    }
    .circle-left {
        display: block;
        background: black;
        border-radius: 50%;
        height: 15px;
        width: 15px;
        position: absolute; 
        left: 0%;
    }
    hr{
        border: 1px solid black;
        width: 99%;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
    }
    .circle-right {
        display: block;
        background: black;
        border-radius: 50%;
        height: 15px;
        width: 15px;
        position: absolute; 
        right: 0%;
    }
    .container {
        max-width: 100%;
        display: block;
    }
    .Profile{
        max-width: 100%;
        padding: 10px;
        border: 1px solid black;
        border-radius: 10px;
        width: 50%;
        display: block;
    }
    .row{
        max-width: 100%;
        display: flex;
    }
    .col{
        display: block;
        margin-right: 5px;
    }
    .B,.b{
        font-weight: bold;
    }
    body{
        max-width: 100%;
    }
    header{
        font-size: 20px;
        text-align: center;
        padding: 5px;
        padding-top: 15px;
        font-weight: bold;
    }
    img{
        width: 25%;
        height: 25%;
        display: block;
        margin-top: 10%;
        margin-left: auto;
        margin-right: auto;
        border: 10px solid white;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

}

/*----------------MOBILE--------------------*/


/*----------------TABLE--------------------*/
